
<%= form_with model: [@category, @task], local: true do |f| %>
    <div class="col-sm-12">
        <% f.label :task_name, style: "display: block" %>
        <%= f.text_field :task_name, class: 'form-control mb-2', placeholder: "Task Name" %>
    </div>

    <div>
        <% f.label :task_body, style: "display: block" %>
        <%= f.text_field :task_body, class: 'form-control', placeholder: "Task Desciption" %>
    </div>

    <div>
        <% f.label :category_id, style: "display: block" %>
        <%= f.hidden_field :category_id, value: @category.id %>
    </div>  

    <div>
        <% f.label :status, style: "display: block" %>
        <%= f.hidden_field :status, value: "Pending" %>
    </div>  

    <div>
        <% f.label :start_time, style: "display: block" %>
        <%= f.hidden_field :start_time, value: DateTime.now %>
    </div> 

    <div class="col-sm-9">
        <%= f.label :Deadline, style: "display: block", class:"my-2 fw-bold" %>
        <%= f.datetime_field :end_time, class: 'form-control' %>
    </div>  


    <p>
        <% if @task.errors.any? %>
        <ul>
            <% @task.errors.full_messages.each do | message |%>
            <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
        <% end %>
    </p>

    <div>
        <%= f.submit class:"btn btn-dark mt-4", style:"width: 100%" %>
        <%= link_to "Cancel", category_tasks_path , class:"btn btn-danger mt-2", style:"width: 100%" %>
    </div>
    
<% end %>

    


