<div class="container-fluid col mt-2">
  <div id="<%= dom_id task %>">
    <div class="d-flex flex-column gap-1">
    <label class="fs-5 fw-bold">Name: <p><%= @task.task_name %></p></label>
    <label class="fs-5 fw-bold">Description: <p><%= @task.task_body %></p></label>
    <label class="fs-5 fw-bold">Status: <p><%= @task.status %></p></label>
    <label class="fs-5 fw-bold">Created: <p><%= @task.start_time.strftime('%Y-%m-%d')  %></p></label>
    <label class="fs-5 fw-bold">Deadline: <p><%= @task.end_time.strftime('%Y-%m-%d') %></p></label>
    <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit'), edit_category_task_path(task), class:"btn btn-warning text-white",style:"width: 100%" %>
    <%= button_to raw('<i class="fa-solid fa-circle-check"></i> Complete'), category_task_path(task,:status => "complete"), method: :patch, class:"btn btn-success",style:"width: 100%"  %>
    <%= button_to raw('<i class="fa-solid fa-trash"></i> Delete'), category_task_path(params[:category_id]) , method: :delete, class:"btn btn-danger", style:"width: 100%" %>
  </div>
</div>

