<div class="container-fluid col mt-2">
  <div id="<%= dom_id task %>">
    <div class="d-flex flex-column gap-3">
    <label class="fs-5 mt-2">Name: <%= @task.task_name %></label>
    <label class="fs-5 mt-2">Description: <%= @task.task_body %></label>
    <label class="fs-5 mt-2">Status: <%= @task.status %> </label>
    <label class="fs-5 mt-2">Created: <%= @task.start_time.strftime('%Y-%m-%d')  %></label>
    <label class="fs-5 mt-2">Deadline: <%= @task.end_time.strftime('%Y-%m-%d') %></label>
    <%= link_to "Edit", edit_category_task_path(task), class:"btn btn-warning" %>
    <%= link_to "Complete", edit_category_task_path(task,status: @task.status), class:"btn btn-success" %>
    <%= button_to "Delete", category_task_path(params[:category_id]) , method: :delete, class:"btn btn-danger" %>
  </div>
</div>

