<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Description</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.id %></td>
            <td><%= task.task_name %></td>
            <td><%= task.task_body %></td>
            <td><%= @category.category_name %></td>
            <% if task.status = 0%>
            <td><%= "Pending" %></td>
            <% else %>
            <td><%= "Completed" %></td>
            <% end %>
        </tr>
        <% end %>
        <%= @tasks.inspect %>
        <br/>
        <br/>
        <%= current_user.inspect %>
        <br/>
        <br/>        
        <%=  %>
    </tbody>
</table>
