<%= render @category %>
<table class="table table-striped table-bordered table-hover mt-2">
  <thead class="table-dark text-center">
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>  
            <th colspan="4">Options</th>
        </tr>
    </thead>

    <tbody>
        <% @tasks.each do |task| %>
        <tr>
            <td><%= task.task_name %></td>
            <td><%= task.task_body %></td>
            <% if task.status = 0%>
            <td><%= "Pending" %></td>
            <% else %>
            <td><%= "Completed" %></td>
            <% end %>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-eye"></i> View '), category_task_path(task.category_id, task.id, ), class:"btn btn-info text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-circle-check"></i> Complete') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-success" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-warning text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-trash"></i> Delete') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-danger" %></td>
        </tr>
        <% end %>

    </tbody>
</table>
</div>