<div>
    <label class="fs-1 mt-2">To Do List</label>
</div>

<table class="table table-striped table-bordered table-hover mt-2">
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Start Date</th>
      <th scope="col">Deadline</th>
      <th colspan="4">Options</th>
    </tr>
    </thead>

    <tbody>
        <% @tas.each do |all| %>
        <tr>
            <% @cattas.each do |catta|%>
                <% if catta.id == all.category_id %>
                    <td class="text-center"><%= catta.category_name %></td>
                    <td class="text-center"><%= all.task_name %></td>
                    <td><%= all.task_body %></td>
                    <% if all.status = 0 %>
                        <td><%= "Pending" %></td>
                    <% else %>
                        <td><%= "Completed" %></td>
                    <% end %>
                    <td><%= all.end_time.strftime('%Y-%m-%d') %></td>
                <% end %>
            <% end %>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-eye"></i> View '), category_task_path(all.category_id, all.id), class:"btn btn-info text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-circle-check"></i> Complete') , edit_category_task_path(all.category_id, all.id ), class:"btn btn-success" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit') , edit_category_task_path(all.category_id, all.id ), class:"btn btn-warning text-white" %></td>
            <td class="text-center"><%= button_to raw('<i class="fa-solid fa-trash"></i> Delete') ,category_task_path(all.category_id, all.id) , method: :delete, class:"btn btn-danger" %></td>
        </tr>     
        <% end %>
    </tbody>
</table>
<% else %>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle ">
            <div class="card p-3 bg-secondary" style="width: 24rem;">
                <i class="fa-solid fa-book fs-1 mr-2 text-center"></i>
                <div class="card-body text-center">
                    <label class="fs-1 card-title">Journal Planner</label>
                    <p class="card-text">Your friendly planner app</p>
                </div>

                <div class="card-body text-center">
                        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-dark' %>
                        <%= link_to "Login", new_user_session_path, class: 'btn btn-dark' %>
                </div>
            </div>
        </div>
    </div>    


        <%= month_calendar(event: @today) do |date, today| %>
            <div class="day">
            <%= date.day %>
            <% today.each do |now|%>
                <div class="card-header">
                    <div class="card-title">
                        <%= link_to today.task_name%>
                    </div>
                </div>
            <% end %>
        <% end %>


        
<table class="table table-striped table-bordered table-hover mt-2">
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th scope="col">Start Date</th>
      <th scope="col">Deadline</th>
      <th colspan="4">Options</th>
    </tr>
    </thead>
    <tbody>
        <% @tas.each do |all| %>
        <tr>
            <% @cattas.each do |catta|%>
                <% if catta.id == all.category_id %>
                    <td class="text-center"><%= catta.category_name %></td>
                    <td class="text-center"><%= all.task_name %></td>
                    <td><%= all.task_body %></td>
                    <% if all.status = 0 %>
                        <td><%= "Pending" %></td>
                    <% else %>
                        <td><%= "Completed" %></td>
                    <% end %>
                    <td><%= all.end_time.strftime('%Y-%m-%d') %></td>
                <% end %>
            <% end %>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-eye"></i> View '), category_task_path(all.category_id, all.id), class:"btn btn-info text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-circle-check"></i> Complete') , edit_category_task_path(all.category_id, all.id ), class:"btn btn-success" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit') , edit_category_task_path(all.category_id, all.id ), class:"btn btn-warning text-white" %></td>
            <td class="text-center"><%= button_to raw('<i class="fa-solid fa-trash"></i> Delete') ,category_task_path(all.category_id, all.id) , method: :delete, class:"btn btn-danger" %></td>
        </tr>     
        <% end %>
    </tbody>
</table>
            <%= @dailies.inspect %><br/><br/>
            <%= @cat.inspect %><br/><br/>
            <%= @tas.inspect %><br/><br/>
            <%= @tas1.inspect %><br/><br/>
            <%= @cattas.inspect %><br/><br/>