<% if user_signed_in? %>
<div class="col">
    <div class="card mt-2">
    <h5 class="card-header bg-secondary shadow text-white"><i class="fa-solid fa-calendar-days"></i> Calendar</h5>
        <div class="card-body">
            <%= month_calendar(events: @dailies) do |date, dailies| %>
                <div class="day">
                    <%= date.day %>
                 </div>
                 <div class="">
                <% dailies.each do | daily |%>
                    <% if daily.end_time.strftime('%Y-%m-%d') == Date.today.strftime('%Y-%m-%d') %>
                        <%= link_to daily.task_name,category_task_path(daily.category_id,daily.id), class:"btn btn-danger mt-1" %>
                    <% else %>
                        <%= link_to daily.task_name,category_task_path(daily.category_id,daily.id), class:"btn btn-info text-white mt-1" %>
                    <% end %>
                <% end %>   
                </div>  
            <% end %>
        </div>
    </div>
<% else %>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle ">
            <div class="card p-3 bg-secondary" style="width: 24rem;">
                <i class="fa-solid fa-book fs-1 mr-2 text-center"></i>
                <div class="card-body text-center">
                    <label class="fs-1 card-title">Journal Planner</label>
                    <p class="card-text">Your friendly planner app</p>
                </div>

                <div class="card-body text-center">
                        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-dark' %>
                        <%= link_to "Login", new_user_session_path, class: 'btn btn-dark' %>
                </div>
            </div>
        </div>
    </div>    

</div>

<% end %>