<div class="container-fluid col">
<% if user_signed_in? %>
<div>
    <label class="fs-1 mt-2">To Do List</label>
</div>

<table class="table table-striped table-bordered table-hover mt-2">
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
      <th colspan="4">Options</th>
    </tr>
    </thead>

    <tbody>
        <% @tas.each do |task| %>
        <tr>
            <% @cattas.each do |catta|%>
                <% if catta.id == task.category_id %>
                    <td class="text-center"><%= catta.category_name %></td>
            <td class="text-center"><%= task.task_name %></td>
            <td><%= task.task_body %></td>
            <% if task.status = 0 %>
            <td><%= "Pending" %></td>
            <% else %>
            <td><%= "Completed" %></td>
            <% end %>
           <% end %>
            <% end %>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-eye"></i> View '), category_task_path(task.category_id, task.id, ), class:"btn btn-info text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-circle-check"></i> Complete') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-success" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-warning text-white" %></td>
            <td class="text-center"><%= link_to raw('<i class="fa-solid fa-trash"></i> Delete') , edit_category_task_path(task.category_id, task.id ), class:"btn btn-danger" %></td>
        </tr>     
        <% end %>
    </tbody>
</table>
<% else %>
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle ">
            <div class="card p-3 bg-secondary" style="width: 24rem;">
                <i class="fa-solid fa-book fs-1 mr-2 text-center"></i>
                <div class="card-body text-center">
                    <label class="fs-1 card-title">Journal Planner</label>
                    <p class="card-text">Your friendly planner app</p>
                </div>

                <div class="card-body text-center">
                        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-dark' %>
                        <%= link_to "Login", new_user_session_path, class: 'btn btn-dark' %>
                </div>
            </div>
        </div>
    </div>    

<% end %>
<%= @set_category %> 
</div>

