<div class="position-absolute top-50 start-50 translate-middle">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="card">
  <div class="card-header bg-dark text-white fs-3 text-center" style="width: 20rem;">
    Login
  </div>
  <div class="card-body">
    <div class="col-sm-12">
      <% f.label :email %>
      <%= f.email_field :email, class: 'form-control mb-2', placeholder: "Email" %>
    </div>

    <div class="field">
      <% f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "Password"%>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mt-2">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me, class:"form-check-label" %>
      </div>
    <% end %>

    <div class="actions mt-2">
      <%= f.submit "Log in", class:"btn btn-dark" %>
    </div>
    
    <div class="form mt-2 gap-2">
    <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>


</div>
</div>