
    <%= form_with model: @category, local: true do |form| %>
    <p>
        <% if @category.errors.any? %>
        <ul>
            <% @category.errors.full_messages.each do | message |%>
            <li class="text-danger"><%= message %></li>
            <% end %>
        </ul>
        <% end %>
    </p>

        <div class="col-sm-12">
            <% form.label :category_name, style: "display: block" %>
            <%= form.text_field :category_name, class: 'form-control' %>
        </div>
        <div>
            <% form.label :user_id, style: "display: block" %>
            <%= form.hidden_field :user_id, id: :category_user_id, value: current_user.id %>
        </div>

        <div>
            <%= form.submit class:"btn btn-dark mt-2"%>
        </div>
        
    <% end %>
    <%= link_to "Back", categories_path, class:"btn btn-secondary mt-2" %>
    </div>
