<div class="container-fluid col">
    <div class="d-flex justify-content-between">
        <label class="fs-1">Categories</label>
        <label class="py-2"><%= link_to raw('<i class="fa-solid fa-circle-plus"></i> New Category'), new_category_path, class: "btn btn-dark my-2" %></label>
    </div>

    <table class="table table-bordered table-hover mt-2">
        <thead class="bg-dark bg-gradient text-center text-white">
            <tr>
                <th scope="col">Category name</th>
                <th colspan="3">Options</th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            <% @categories.each do |category| %>
            <% if category.user == current_user %>
            <tr class="bg-body-secondary text-center fw-bold">
            <td><%= category.category_name %></td>
            <td class="col-sm-2"><%= link_to raw('<i class="fa-solid fa-circle-plus"></i> Add Task'), new_category_task_path(category.id), class: "btn btn-secondary " %></td>
            <td class="col-sm-2"><%= link_to raw('<i class="fa-solid fa-eye"></i> View '), category_tasks_path(category), class: "btn btn-info text-white" %> </td>
            <td class="col-sm-2"><%= link_to raw('<i class="fa-solid fa-pen-to-square"></i> Edit') , edit_category_path(category), class: "btn btn-warning text-white" %> </td>
            <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>