<!DOCTYPE html>
<html>
  <head>
    <title>Journal Planner Webpage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'home/navbar' %>
  <% if user_signed_in? %>
    <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
  <% end %>
    <%= yield %>
  </body>
</html>
